.first-poem {
    font-family: 'Lobster', cursive;
}

.first-poem-title {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
}

.second-poem {
    font-family: 'Kite One', sans-serif;
}

.second-poem-title {
    font-family: 'Kite One', sans-serif;
    text-transform: uppercase;
}
